 @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@500&display=swap');

/* * {
    padding:0;
    margin:0;
    box-sizing: border-box;
} */
body{
    /* font-family: 'Lobster', cursive; */
    font-family: 'Roboto', sans-serif;
}
header{
    width:80%;
    height:95vh;
    /* border:2px solid red; */
    margin: auto;
}
header nav {
    width:95%;
    height:7%;
    /* border:1px solid black; */
    margin:auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
header nav h4{
    font-size: 25px;
    padding-left: 15px;
    color:blue;
}
header nav ul{
    list-style: none;
    display:flex;
}
header nav ul li{
    padding: 3px 15px;
}
header nav ul li:nth-child(5){
    background:blue;
    border-radius: 20px;
    padding:5px 20px;
}
header nav ul li:nth-child(5) a{
    color:white;
}
header nav ul li a{
    text-decoration: none;
    color:black;
    font-weight: 600;
    transition: .3s linear;
}
header nav ul li a:hover{
    color:grey;
}
header nav .bi-three-dots {
    display:none;
}
header .content {
    position: relative;
    width:100%;
    height:93%;
    /* border: 2px solid green; */
}
header .content::before{
    content:'';
    position: absolute;
    width:100%;
    height:80%;
    /* border:1px solid blue; */
    background: url('../images/background1.png')no-repeat center center/cover;
    border-radius: 10px;
    z-index: -1;
}
.cont_bx {
    width:500px;
    height:auto;
    color:#fff;
    padding:30px;
}
.cont_bx h1{
    line-height: 40px;
    font-weight: 800;
}
.cont_bx p{
    font-size: 14px;
    font-weight: 400;
    color: rgb(241,241,241);
}
.cont_bx button {
    margin-top: 20px;
    padding:10px 20px;
    border-radius: 20px;
    border:2px solid whitesmoke;
    font-size: 16px;
    font-weight: bold;
    background:blue;
    color:white;
    outline: none;
    cursor: pointer;
    transition: .3s linear;
}
.cont_bx button:hover{
    background: blueviolet;
    border:2px solid rgb(113,113,113);
}
.trip_bx{
    position: relative;
    width:95%;
    height:auto;
    margin:auto;
    /* border:1px solid yellow; */
}
.search_bx{
    position: absolute;
    top:0;
    left:0;
    width:60%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:white;
    border-radius: 5px;
    box-shadow: 0px 10px 25px rgb(114,114,114);
    z-index: 1;
    padding:10px 20px;
}
.card{
    width:200px;
    height:100%;
    /* border: 1px solid #000; */
}
.card h4{
    font-size: 15px;
    margin: 0;
    font-weight: 700;
}
.card h4 .bi{
    position: absolute;
    font-size: 13px;
    margin: 2px 0px 0px 5px;
    transition: .3s linear;
}
.card input{
    margin-top: 3px;
    padding:5px 0px;
    border:none;
    outline: none;
    font-size: 13px;
}
input[type="button"]{
    background: blue;
    color:white;
    border:none;
    outline: none;
    padding:10px 20px;
    border-radius: 20px;
    transition: .3s linear;
    cursor: pointer;
}
input[type="button"]:hover{
    background: grey;
}
.travel_bx {
    position: relative;
    width:100%;
    height:auto;
    margin:auto;
    top:30px;
    /* background: #000; */
    /* border:1px solid #000; */
    border-radius: 10px;
    padding-bottom: 20px;
    box-shadow: 0px 20px 25px -10px rgb(165,165,165);
}
.travel_bx::before{
    content: '';
    position: absolute;
    width:100%;
    height:100%;
    border-radius: 10px;
    background: rgb(241,241,241,.7);
    backdrop-filter: blur(5px);
    z-index: -1;
}
.travel_bx h4{
    margin:0;
    padding:50px 0px 15px 1.7%;
}
.travel_bx .cards{
    width:96%;
    height:auto;
    margin:0 auto;
    /* border:1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.travel_bx .cards .card {
    width:220px;
    height:150px;
    /* border:1px solid black; */
   
}
.travel_bx .cards .card h3{
    margin:0px 0px 10px 0px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;

}
.travel_bx .cards .card h3 img{
    width:20px;
    height:20px;
    margin-left: 5px;

}
.travel_bx .cards .card img{
  width:100%;
  height:50%;

}
.travel_bx .cards .card .btn_city{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.travel_bx .cards .card .btn_city a{
    text-decoration: none;
    background: #000;
    color:white;
    border-radius: 20px;
    padding:6px 20px;
    font-size: 11px;
    transition: .3s linear;
}
.travel_bx .cards .card .btn_city a:hover{
    background: grey;
}
.travel_bx .cards .card .btn_city h5{
    font-size: 11px;
    font-weight: 500;
    margin:0;
    margin-top: 5px;
    line-height: 15px;
}
.travel_bx .cards .card .btn_city h5 span{
    font-size: 13px;
    font-weight: 800;
}
.offers{
    width:60%;
    height:auto;
    /* border:1px solid black; */
    margin: auto;
    margin-top: 100px;
}
.offers h1{
    font-weight: 600;
    text-align: center;
    margin: 0;
}
.offers p{
    font-weight: 500;
    text-align: center;
    margin: 0;
}
.cards_of{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border:1px solid yellow; */
    /* flex-wrap: wrap; */
}
.cards_of .card {
    position: relative;
    width:200px;
    height:350px;
    /* border:1px solid green; */
    margin: 10px;
}
.cards_of .card h3{
    width:140px;
    padding:6px 0px;
    background: rgb(165,243,165);
    border-radius: 20px;
    font-size: 12px;
    display: grid;
    place-items: center;
    margin:auto;
}
.img-text{
    position:relative;
    width:100%;
    height: 250px;
    margin-top: 5px;
}
.img-text img{
    position:relative;
    width:100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}
.img-text h4{
    position: absolute;
    font-size: 10px;
    font-weight: 300;
    padding:10px 15px;
    bottom:0;
    margin: 0;
    color:#fff;
    z-index: 1;
}
.img-text h4::before{
    content: '';
    position: absolute;
    width: 100%;
    height:100%;
    background:rgb(255,255,255,.1);
    backdrop-filter: blur(5px);
    z-index: -1;
    bottom: 0;
    left: 0;
}
.cards_of .card .cont-bx{
    width:99%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border:1px solid rgb(214,214,214);
    padding: 5px 0px;
    border-radius: 0px 0px 5px 5px;
}
.price, .days{
  margin:0px 8px;
}
.price .heart-chat{
  display: flex;
  align-items: center;
}
.price .heart-chat i:nth-child(1){
    color:red;
    font-size: 13px;
    margin-right: 10px;
}
.price .heart-chat i span{
    color:black;
    font-size: 12px;
    margin-left: 3px;
    font-style: normal;
}
.price .heart-chat i:nth-child(2){
    color:rgb(112,196,229);
    font-size: 13px;
    margin-right: 10px;
}
.price .info-price{
    display: flex;
    align-items: center;
    margin-top: 3px;
}
.price .info-price a {
    text-decoration: none;
    color:black;
    font-size: 11px;
    transition: .3s linear;
    margin-right: 13px;
}
.price .info-price a:hover{
    color: grey;
}
.price .info-price h4{
    margin:0;
    font-size: 13px;
}
.days{
    color:white;
    background: black;
    font-size: 8px;
    border-radius: 50%;
    padding:10px;
    text-align: center;
    cursor: pointer;
    transition: .3s linear;
}
.days:hover{
    transform: rotate(360deg);
}
.destination{
    width:45%;
    height:auto;
    /* border:1px solid black; */
    margin:auto;
    margin-top: 70px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.destination .des-bx , .img-bx{
   position: relative;
   width:50%;
   height:auto;
   /* border: 1px solid red; */
}
.des-bx h4{
  margin:0;
  font-size: 20px;
  color:black;
  line-height: 10px;
  letter-spacing: 1px;
}
.des-bx p{
  font-size: 12px;
}
.des-bx li{
    list-style-type: none;
    padding:0px 0px 8px 0px;
    font-size:12px;
    font-weight: 500;
}
.des-bx h6{
    width:250px;
    font-size: 12px;
    font-weight: 500;
    margin:20px 0px;
}
.des-bx button{
    font-size:12px;
    padding:8px 15px;
    border-radius: 20px;
    background: black;
    color:#fff;
    /* border:2px solid black; */
    transition: .3s linear;
}
.des-bx button:hover{
    background: blueviolet;
    border:2px solid grey;
}
.img-bx img{
  width:100%;
  height:420px;
  border-radius: 5px;
}
.img-bx .msg{
    position: absolute;
    top:50%;
    left:-10%;
    width:160px;
    height:50px;
    background:white;
    box-shadow: 0px 5px 20px grey;
    display:flex;
    align-items: center;
    padding:0px 10px;
    border-radius: 5px;
}
.img-bx .msg:nth-child(2){
    top:10%;
    left:55%;
    width:160px;
    height:50px;
    background:white;
    box-shadow: 0px 5px 20px grey;
    display:flex;
    align-items: center;
    padding:0px 10px;
    border-radius: 5px;
}
.img-bx .msg img{
    width:30px;
    height:55%;
}
.img-bx .msg .contt{
    margin-left: 15px;
}
.img-bx .msg .contt h4{
    margin:0;
    font-size: 15px;
    font-weight: 500;
}
.img-bx .msg .contt .bi:nth-child(1){
    color:red;
    margin-right: 5px;
    font-size: 13px;
}
.img-bx .msg .contt .bi span{
    font-style: normal;
    margin-left: 3px;
    font-size: 12px;
    color:grey;
}
.img-bx .msg .contt .bi:nth-child(2){
    color:rgb(112,196,229);
    margin-right: 5px;
    font-size: 13px;
}



